{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": "Last 2 Chrome versions, Firefox ESR",
          "node": "8.9"
        }
      }
    ],
    ["@babel/preset-react"]
  ],
  "plugins": []
}
